/* You can add global styles to this file, and also import other style files */
@import 'vars';
@import '~font-awesome/css/font-awesome.css';
@import '~bootstrap/scss/bootstrap';
@import '~dragula/dist/dragula.css';

body {
  background-color: $primary;
}

.bg-clear-white {
  background-color: $clearWhite;
}

.btn-highlight {
  &:hover {
    background-color: rgba(255, 255, 255, 0.5)
  }
}