@import '../styles/vars';

.board-title {
  font-size: 24px;
  display: inline-block;
  padding: 8px 24px;
  border-radius: 5px;
  cursor: pointer;

  &:hover {
    background-color: $primary-dark;
  }
}

input {
  color: white;
  font-size: 24px;
  display: inline-block;
  padding: 8px 24px;
  border-radius: 5px;
  border: none;
  outline: none;
  background-color: $primary-dark;
}